@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-gray-900 border border-transparent hover:bg-white text-white hover:text-gray-900 hover:border hover:border-gray-900 py-2 px-4 rounded transition-all font-bold;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-primary:disabled {
  @apply bg-gray-700 cursor-not-allowed text-white border-gray-700;
}
.btn-primary:disabled:hover {
  @apply bg-gray-700 cursor-not-allowed text-white border-gray-700;
}

.text-input {
  @apply bg-white border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.select-input {
  @apply bg-white border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.label {
  @apply  block mb-2 text-sm font-medium text-gray-900 dark:text-white
}


@keyframes custom-enter {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.animate-custom-enter {
    animation: custom-enter .2s ease-out
}

@keyframes custom-leave {
    0% {
        transform: scale(1);
        opacity: 1
    }

    to {
        transform: scale(.9);
        opacity: 0
    }
}

.animate-custom-leave {
    animation: custom-leave .15s ease-in forwards
}

/* ESTILOS DE PAYPAL */
.spinner {
    display: inline-block;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: rgba(33, 128, 192, 0.8);
    border-radius: 100%;
    animation: rotation 0.7s infinite linear;
}

.spinner.tiny {
    height: 20px;
    width: 20px;
    border-top-color: #007bff;
    position: relative;
    top: 3px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
/* FIN ESTILOS DE PAYPAL */